<div class="top-bar unit-0">
    <div class="top-bar-caption">1GENE 管理者后台</div>
    <div class="top-bar-button hide">
        <el-button type="info" size="small" icon="d-arrow-left"></el-button>
    </div>
    <div class="top-bar-user-area">
        <div class="top-bar-user-avatar">
            <img src="/assets/images/0.jpg" />
        </div>
        <div class="top-bar-user-name">
            <el-dropdown v-cloak>
                <span class="el-dropdown-link">
                    壹先生（管理员）<i class="el-icon-caret-bottom el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>用户信息</el-dropdown-item>
                    <el-dropdown-item>修改密码</el-dropdown-item>
                    <el-dropdown-item>账号设置</el-dropdown-item>
                    <el-dropdown-item>退出登录</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>            
        </div>
    </div>
</div>
